@keyframes header-fadein {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes header-fadeout {
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes header-expand-hover {
    from {
        text-shadow: 0 0 0 #FFFFFF;
    }
    50% {
        text-shadow: 0 0 2px #e91e63;
    }
    100% {
        text-shadow: 0 0 0 #FFFFFF;
    }
}

@keyframes header-expand-hover-pin {
    from {
        text-shadow: 0 0 0 #FFFFFF;
    }
    to {
        text-shadow: 0 0 10px #212121;
    }
}

#header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    letter-spacing: -1px;
    color: #e91e63;
    padding-right: 40px;
}

header {
    overflow: hidden;
    padding: 20px 0;
    margin-left: 10%;
    /*position: fixed;*/
    display: block;
}

.header-visible {
    animation: 1s header-fadein forwards;
}

.header-hidden {
    animation: 1.5s header-fadeout forwards;
}

header a {
    text-decoration: none;
    text-align: center;
}

.header-links {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    letter-spacing: -1px;
    color: #212121;
    padding-left: 20px;
    padding-right: 20px;
}

.header-links:hover {
    animation: 1s header-expand-hover infinite;
}

#toggle-header-button {
    color: #212121;
    float: right;
    margin-right: 10%;
    padding-top: 20px;
    display: block;
}

#toggle-header-button:hover {
    animation: 0.6s header-expand-hover-pin forwards;
}
